<div class="row padding-bottom">
  <div class="col-lg-12">
    <h3>Dynamic Search Engine for Learning</h3>
  </div>
</div>
<div class="row padding-top padding-bottom">
  <div class="col-lg-7">
    <h2>{{ learn.data.name }}</h2>
    <p ng-bind-html="learn.bindHtml(learn.data.content)"></p>
    <p><strong>Source: <a href="{{ learn.data.resource }}" target="_blank" title="Source">{{ learn.data.resource }}</a></strong></p>
  </div>
</div>
<div class="row padding-top padding-bottom">
  <div class="col-lg-7">
    <button class="btn btn-primary" back><span class="glyphicon glyphicon-menu-left"></span> Go back</button>
  </div>
</div>
